<html>
<body>
<fieldset>
	<legend>add to database</legend>
	<form action="/addAmazon" method="post" >
	<div class="outterText">
		<div class="center"><div class="title">film name</div></div>
		<input type="text" id="filmName" name="filmName" size="10">
	</div>

	<div class="outterText">
		<div class="center"><div class="title">director</div></div>
		<input type="text" id="director" name="director" size="10">
	</div>

	<div class="outterText">
		<div class="center"><div class="title">cast</div></div>
		<input type="text" id="cast" name="cast" size="10">
	</div>

	<div class="outterText">
		<div class="center"><div class="title">country</div></div>
		<input type="text" id="country" name="country" size="10">
	</div>

	<div class="outterText">
		<div class="center"><div class="title">release year</div></div>
		<input type="text" id="release_year" name="release_year" size="10">
	</div>

	<div class="outterText">
		<div class="center"><div class="title">rating</div></div>
		<input type="text" id="rating" name="rating" size="10">
	</div>
	
	<div class="outterText">
		<div class="center"><div class="title">duration</div></div>
		<input type="text" id="duration" name="duration" size="10">
	</div>

	<div class="outterText">
		<div class="center"><div class="title">genre</div></div>
		<input type="text" id="genre" name="genre" size="10">
	</div>

	<div class="outterText">
		<div class="center"><div class="title">description</div></div>
		<input type="text" id="description" name="description" size="10">
	</div>

    <div class="outter">
    <div class="center"><div class="title">type</div></div>
	<div class="radioClass">
		<input type="radio" id="typee" name="typee" value="movie">
		<label>movie</label>
	</div>

	<div>
		<input type="radio" id="typee" name="typee" value="TVShow">
		<label>TV Show</label>
	</div>
    </div>

    
	<input type="submit"value="submit" class="center btn">
</form>
</fieldset>
</body>
</html>
<style>
