.center{
    justify-content: center;
    display: flex;
    margin: 10%;
}
.title{
    color: white;
    font-size: 2vw;
	font-weight: bold;
}

  body {
	height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
	font-family: sans-serif;
	font-size: 1.8rem;
	background-color: rgb(170, 186, 194);
}

fieldset {
	margin-top:10%;
	padding: 10px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: inline-block;
	border: none;
}

legend {
	font-size: 2vw;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(2px);
	border-radius: 20px;
	padding: 10px 20px;
	color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: transparent;
	position: relative;
    margin:3%;
	
}

input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: #2e2c3f;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 0.8s;
}

label {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.btn{
	right:25%;
    height:8%;
	width:50%;
	border-radius: 5%;
	border:0;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(2px);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn:hover{
	cursor:pointer
}

div {
	display: flex;
	align-items: center;
}

.outter{
    width: 80%;
    margin:10%;
    height: 35%;
    display: block;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(2px);
}

@keyframes appear {
	0% {
		transform: translate(-50%, -50%) scale(0);
		background-color: #fff;
	}
	45% {
		transform: translate(-50%, -50%) scale(1.6);
		background-color: #6f98b4;
	}
	50% {
		transform: translate(-50%, -50%) scale(1.7);
		background-color: #ad97b3;
	}
	55% {
		transform: translate(-50%, -50%) scale(1.6);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		background-color: #3f3f61;
	}
}


@media screen and (orientation:portrait) {
.outter{
    height: 30%;
}
legend{
	font-size: 8vw;
}
label{
	font-size: 5vw;
	margin:5%;
}
.title{
    font-size:7vw;
}
.input[type="radio"] {
	height:200px;
	width:300px;
}
.btn{
	font-size: 5vw;
}

input[type="radio"] {
	width: 50px;
	height: 50px;
}
input[type="radio"]:checked::before{
	width: 30px;
	height: 30px;
}

}