{% extends 'template.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<div id="page-wrapper">
	<!-- Header -->
	<section id="header">
		<div class="container">
			<!-- Logo -->
			<h1 id="logo" style="margin-bottom: 2.5%; line-height: 100%;"><a href="/index.html">Style Compare</a></h1>
			<h2>Video Analysis</h2>
			
		</div>
	</section>

	<div class="controls" style="margin: 3%;">
		<button class="button" data-name="Netflix">Netflix</button>
		<button class="button" data-name="Hulu">Hulu</button>
		<button class="button" data-name="Amazon_Prime">Amazon Prime</button>
		<button class="button" data-name="Disney">Disney</button>
	</div>

	<div id="myGraph" style="margin-left: 24%" ></div>
	<div id="myGraph2" style="display: none;margin-left: 24%"></div>
	<div id="myGraph3" style="display: none;margin-left: 24%"></div>
	<div id="myGraph4" style="display: none;margin-left: 24%"></div>
	<script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
	<script src="../../static/assets/js/data.js"></script>
	<script src="../../static/assets/js/plotly_main.js"></script>

	<script>
		// Function to show or hide the divs based on button clicks
		document.querySelectorAll('.button').forEach(button => {
			button.addEventListener('click', () => {
				const region = button.getAttribute('data-name');
				const graphDivs = document.querySelectorAll('[id^="myGraph"]'); // Get all divs with ID starting with 'myGraph'
				graphDivs.forEach(div => {
					div.style.display = 'none'; // Hide all divs initially
				});

				// Show the specific div based on the button clicked
				switch (region) {
					case 'Netflix':
						document.getElementById('myGraph').style.display = 'block';
						break;
					case 'Hulu':
						document.getElementById('myGraph2').style.display = 'block';

						break;
					case 'Amazon_Prime':
						document.getElementById('myGraph3').style.display = 'block';
						break;
					case 'Disney':
						document.getElementById('myGraph4').style.display = 'block';

						break;	
					// Add cases for other regions...
					default:
						break;
				}
			});
		});


	</script>

{% endblock %}