{% extends 'template.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<div id="page-wrapper">
	<!-- Header -->
	<section id="header">
		<div class="container">
			<!-- Logo -->
			<h1 id="logo" style="margin-bottom: 2.5%; line-height: 100%;"><a href="/index.html">Style Compare</a></h1>
			<h2>Video Analysis</h2>
			
		</div>
	</section>

        <div id="myGraph"></div>
            <script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
            <script src="../../static/assets/js/data.js"></script>
            <script src="../../static/assets/js/plotly_main.js"></script>
{% endblock %}