{% extends 'template.html' %}
{% block title %}Home Page{% endblock %}
{% block link %}<link rel="stylesheet" href="publisher/style.css" />{% endblock %}

{% block content %}

	<div id="page-wrapper">

		<!-- Header -->
		<section id="header">
			<div class="container">

				<!-- Logo -->
				<h1 id="logo">Bar Chart Race</h1>
				<P>Observation for the quantity of seriver&movie on Platform Every Year</P>

			</div>
		</section>

		<section id="main">
			<div class="container">
				<div id="content">

					<!-- Post -->
					<article class="box post">
						<header>
							<h2>
								Motivation
							</h2>
						</header>
						<p style="text-align: center;">
							When I first started this class and learned that we would be using Plotly for development, I became very interested in creating animations using it.

							<br><br>
					I was already fascinated by this visualization technique, so I searched for online resources and applied it to the existing dataset to see what exciting results would emerge.
						</p>
					</article>
				</div>
			</div>
		</section>

		<!-- Main -->
		<section id="main">
			<div class="container">
				<div id="content">

					<!-- Post -->
					<article class="box post">
						<header>
							<h2>
								Bar Chart Race
							</h2>
						</header>
						<div>
							<p>
								This bar chart race is designed to showcase the total movie&series for each platform on a
								yearly basis. Therefore, it
								displays information for one year at a time
							</p>
						</div>





	<div class="controls" style="margin: 3%;">
		<button class="button" data-name="Netflix">Netflix</button>
		<button class="button" data-name="Hulu">Hulu</button>
		<button class="button" data-name="Amazon_Prime">Amazon Prime</button>
		<button class="button" data-name="Disney">Disney</button>
	</div>
	<!-- <div class="centered-div">dddddd</div> -->
	<div class="chart">
		<div id="myGraph" ></div>
		<div id="myGraph2" style="display: none"></div>
		<div id="myGraph3" style="display: none;"></div>
		<div id="myGraph4" style="display: none;"></div>
	</div>
		


	<br>
						<hr color="#FFF" style="align-items: center; margin-bottom: 0.2%;">
						<hr color="#FFF" style="align-items: center; margin-bottom: 4em;">
						<div class="Observation">
							<h2>My Observation</h2>
							<p>
							In this bar chart race, it is possible to observe that before 2017 ,hulu's series and movie is more than netflix,but after then ,netflix buy series and movie in a dramatically speed.
							I searched the news: Netflix finishes its massive migration of its data servers to AWS,then Netflix announced a major international expansion into 130 new territories on 2016.
							It prove the importance of cloud in OTT indusrty.

							</p>
						</div>

						<hr color="#FFF" style="align-items: center; margin-bottom: 0.2%;">
						<hr color="#FFF" style="align-items: center; margin-bottom: 4em;">

						<div class="Improvements">
							<h2>Some Improvements</h2>
							<p>
								Since the main modification is based on the official plotly example, the flexibility
								is limited. It means that it's not possible to make specific modifications to
								individual functionalities. If needed, the only option is to rewrite all the
								functionalities. Therefore, this can serve as a starting point for exploring
								more plotly functionalities through the bar chart race.
							</p>
						</div>

					</article>

				</div>
			</div>
		</section>

		
	</div>


	<style>
		chart {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  height: 100vh;
		  margin: 0;
		}
	  </style>


	<script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
	<script src="../../static/assets/js/data.js"></script>
	<script src="../../static/assets/js/plotly_main.js"></script>

	<script>
		// Function to show or hide the divs based on button clicks
		document.querySelectorAll('.button').forEach(button => {
			button.addEventListener('click', () => {
				const region = button.getAttribute('data-name');
				const graphDivs = document.querySelectorAll('[id^="myGraph"]'); // Get all divs with ID starting with 'myGraph'
				graphDivs.forEach(div => {
					div.style.display = 'none'; // Hide all divs initially
				});

				// Show the specific div based on the button clicked
				switch (region) {
					case 'Netflix':
						document.getElementById('myGraph').style.display = 'block';
						break;
					case 'Hulu':
						document.getElementById('myGraph2').style.display = 'block';

						break;
					case 'Amazon_Prime':
						document.getElementById('myGraph3').style.display = 'block';
						break;
					case 'Disney':
						document.getElementById('myGraph4').style.display = 'block';

						break;	
					// Add cases for other regions...
					default:
						break;
				}
			});
		});


	</script>

{% endblock %}