{% extends 'template.html' %}
{% block title %}Home Page{% endblock %}
{% block link %}<link rel="stylesheet" href="publisher/style.css" />{% endblock %}

{% block content %}

	<div id="page-wrapper">

		<!-- Header -->
		<section id="header">
			<div class="container">

				<!-- Logo -->
				<h1 id="logo">Rating compare</h1>
				<p>OBSERVATION FOR THE RATING OF VEDIO ON EACH PLATFORM</p>
			</div>
		</section>

		<section id="main">
			<div class="container">
				<div id="content">

					<!-- Post -->
					<article class="box post">
						<header>
							<h2>
								Motivation
							</h2>
						</header>
						<p style="text-align: center;">
							IMDb（Internet Movie Database，網路電影資料庫）是全球最受歡迎且權威的電影、電視和評分網站
							<br>
							透過對不同串流平台上影集的IMDb數據進行可視化分析，便可得知哪家OTT平台有最高品質的內容						</p>
					</article>
				</div>
			</div>
		</section>

		<!-- Main -->
		<section id="main">
			<div class="container">
				<div id="content">

					<!-- Post -->
					<article class="box post">
						<header>
							<h2>
								 histogram Chart 
							</h2>
						</header>
						<div>
							<p style="text-align: center;">
								這個長條圖顯示每部電影和影集在每個平台上的評分，並計算每個平台的平均評分。</p>
						</div>





	<div class="controls" style="margin: 3%;">
		<button class="button" data-name="Netflix">Netflix</button>
		<button class="button" data-name="Hulu">Hulu</button>
		<button class="button" data-name="Amazon_Prime">Amazon Prime</button>
		<button class="button" data-name="Disney">Disney</button>
	</div>
	<!-- <div class="centered-div">dddddd</div> -->
	<div class="chart">
		<div id="display_chart_netflix">
			<div id="myGraph" ></div>
			<P>Average Rate : {{Netflix_IMDb_rate}}</P>
		</div>
		<div id="display_chart_hulu" style="display: none;">
			<div id="myGraph2" ></div>
			<P>Average Rate : {{Hulu_IMDb_rate}}</P>
		</div>
		<div id="display_chart_prime"style="display: none;">
			<div id="myGraph3" ></div>
			<P>Average Rate : {{Prime_IMDb_rate}}</P>
		</div>
		<div id="display_chart_disney"style="display: none;">
			<div id="myGraph4" ></div>
			<P>Average Rate : {{Disney_IMDb_rate}}</P>
		</div>
	</div>



	<br>
						<hr color="#FFF" style="align-items: center; margin-bottom: 0.2%;">
						<hr color="#FFF" style="align-items: center; margin-bottom: 4em;">
						<div class="Observation">
							<h2>My Observation</h2>
							<p>
								❶ Netflix,Prime Vide｜ Netflix,Prime Vide上的電影/節目獲得了顯著高的評分，反映了其精心挑選的高品質內容或對觀眾口味的精準把握。
								<br><br>
								❷ Disney Plus｜ Disney+上的影視作品呈現著較低的評分。可能是因該平台的內容主要偏向「Family」、「Animation」，而此類的電影較難在IMDb這種全年齡項的評分上獲得高分。						
							</p>
						</div>

						<hr color="#FFF" style="align-items: center; margin-bottom: 0.2%;">
						<hr color="#FFF" style="align-items: center; margin-bottom: 4em;">

						<div class="Improvements">
							<h2>Some Improvements</h2>
							<p>
								❶ 細緻化分析｜ 通過根據類型、發行年份、導演風格甚至演員表現等細分IMDb評分，提供更具體的洞察。
								<br><br>
								❷ 實時更新｜ 確保平台的IMDb評分定期更新，反映最新的用戶評分和評論，讓用戶獲取有關電影或節目的最新信息。
							</p>
						</div>

					</article>

				</div>
			</div>
		</section>

		
	</div>


	<style>
		chart {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  height: 100vh;
		  margin: 0;
		}
	  </style>


	<script src="https://cdn.plot.ly/plotly-2.24.1.min.js"></script>
	<script src="../../static/assets/js/data.js"></script>
	<script src="../../static/assets/js/plotly_main.js"></script>

	<script>
		// Function to show or hide the divs based on button clicks
		document.querySelectorAll('.button').forEach(button => {
			button.addEventListener('click', () => {
				const region = button.getAttribute('data-name');
				const graphDivs = document.querySelectorAll('[id^="display_chart"]'); // Get all divs with ID starting with 'myGraph'
				graphDivs.forEach(div => {
					div.style.display = 'none'; // Hide all divs initially
				});

				// Show the specific div based on the button clicked
				switch (region) {
					case 'Netflix':
						document.getElementById('display_chart_netflix').style.display = 'block';
						break;
					case 'Hulu':
						document.getElementById('display_chart_hulu').style.display = 'block';

						break;
					case 'Amazon_Prime':
						document.getElementById('display_chart_prime').style.display = 'block';
						break;
					case 'Disney':
						document.getElementById('display_chart_disney').style.display = 'block';

						break;	
					// Add cases for other regions...
					default:
						break;
				}
			});
		});


	</script>

{% endblock %}
